.content {
    position: relative;
    background: #000000;
    float: left;
    width: 100%;
}

.header {
    position: fixed;
    float: left;
    width: 100%;
    z-index: 999;
}

.center_con {
    position: relative;
    width: 145px;
    height: 85px;
    transition: all .2s ease;
}

.img_pri {
    background-image: url(../../../assets/img/logo_pri.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    float: left;
}

.content-info {
    position: relative;
    float: left;
    width: 100%;
    background: black;
    border-top: 2px solid #ffffff7a;
}

.navbar {
    padding: inherit;
    box-shadow: 0px 0px 10px 3px white;
}

.bg-dark {
    background-color: black !important;
}

.content_user {
    position: absolute;
    right: 0;
    width: 279px;
    height: 79px;
    padding: 20px 0px;
}

.content_user img {
    position: relative;
    float: left;
    width: 40px;
}

.content_user h4 {
    position: relative;
    float: left;
    color: white;
    font-size: 12px;
    border-right: 1px solid #ffffff91;
    padding: 13px 13px;
}

.btn_ingresa {
    font-size: 12px;
    width: 90px;
    position: absolute;
    right: 16px;
}

.carousel-inner {
    height: 600px;
    margin-top: 86px;
}

.img_one {
    background-image: url(../../../assets/img/futbool.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    float: left;
}

.img_two {
    background-image: url(../../../assets/img/5g.jpg);
    background-position: 50% 15%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    float: left;
}

.img_three {
    background-image: url(../../../assets/img/corona.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    float: left;
}

.carousel-caption h5,
.carousel-caption p {
    text-shadow: 2px 2px 1px black;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
}

.navbar-nav {
    width: 100%;
}

nav svg {
    margin-right: 12px;
}

@media only screen and (max-width: 991px) {
    .navbar-nav {
        padding: 0px 50px;
    }
    .content_user {
        top: 85px;
    }
    .btn_ingresa {
        top: 108px;
    }
}