<div class="content" id="pri">
    <div class="header">
        <!-- Menu principal -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="center_con">
                <div class="img_pri"></div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <!-- noticias -->
                    <a class="nav-item nav-link active" routerLink="." fragment="pri">
                        <svg class="bi bi-newspaper" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd" d="M0 2A1.5 1.5 0 011.5.5h11A1.5 1.5 0 0114 2v12a1.5 1.5 0 01-1.5 1.5h-11A1.5 1.5 0 010 14V2zm1.5-.5A.5.5 0 001 2v12a.5.5 0 00.5.5h11a.5.5 0 00.5-.5V2a.5.5 0 00-.5-.5h-11z" clip-rule="evenodd"/>
                         <path fill-rule="evenodd" d="M15.5 3a.5.5 0 01.5.5V14a1.5 1.5 0 01-1.5 1.5h-3v-1h3a.5.5 0 00.5-.5V3.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                         <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
                        </svg> Noticias <span class="sr-only">(current)</span></a>
                    <!-- ultima hora -->
                    <a class="nav-item nav-link" routerLink="." fragment="ultima">
                        <svg class="bi bi-alarm" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A6 6 0 108 3a6 6 0 000 12zm0 1A7 7 0 108 2a7 7 0 000 14z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M8 4.5a.5.5 0 01.5.5v4a.5.5 0 01-.053.224l-1.5 3a.5.5 0 11-.894-.448L7.5 8.882V5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                        <path d="M.86 5.387A2.5 2.5 0 114.387 1.86 8.035 8.035 0 00.86 5.387zM11.613 1.86a2.5 2.5 0 113.527 3.527 8.035 8.035 0 00-3.527-3.527z"/>
                        <path fill-rule="evenodd" d="M11.646 14.146a.5.5 0 01.708 0l1 1a.5.5 0 01-.708.708l-1-1a.5.5 0 010-.708zm-7.292 0a.5.5 0 00-.708 0l-1 1a.5.5 0 00.708.708l1-1a.5.5 0 000-.708zM5.5.5A.5.5 0 016 0h4a.5.5 0 010 1H6a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                        <path d="M7 1h2v2H7V1z"/>
                      </svg>Ultima hora</a>
                    <!-- Busqueda -->
                    <a class="nav-item nav-link" routerLink="." fragment="busqueda">
                        <svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"/>
                      </svg>Busqueda de contagios</a>
                </div>
                <!-- Mostrando usuario registrado -->
                <div class="container" *ngIf="user">
                    <div class="content_user">
                        <img src="{{ user.photoUrl }}">
                        <h4 class="mg-t">Hola {{ user.name }}</h4>
                    </div>
                </div>
                <!-- cerrar sesion de google -->
                <button class="btn_ingresa btn btn-dark" (click)="signOut()" [routerLink]="['/home']">
                    <svg class="bi bi-box-arrow-in-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M7.854 11.354a.5.5 0 000-.708L5.207 8l2.647-2.646a.5.5 0 10-.708-.708l-3 3a.5.5 0 000 .708l3 3a.5.5 0 00.708 0z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M15 8a.5.5 0 00-.5-.5h-9a.5.5 0 000 1h9A.5.5 0 0015 8z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M2.5 14.5A1.5 1.5 0 011 13V3a1.5 1.5 0 011.5-1.5h8A1.5 1.5 0 0112 3v1.5a.5.5 0 01-1 0V3a.5.5 0 00-.5-.5h-8A.5.5 0 002 3v10a.5.5 0 00.5.5h8a.5.5 0 00.5-.5v-1.5a.5.5 0 011 0V13a1.5 1.5 0 01-1.5 1.5h-8z" clip-rule="evenodd"/>
                      </svg>
                      Salir
                </button>
            </div>
        </nav>
    </div>

    <!-- Creando el carrusel principal -->
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <!-- tabs de navegacion -->
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <!-- slider uno -->
            <div class="carousel-item active">
                <div class="img_one d-block w-100"></div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>La herramienta antiamaños más potente del mundo</h5>
                    <p>LaLiga desarrolla Tyche 3.0, un software que identifica cualquier movimiento extraño en los mercados de apuestas del fútbol y detecta en tiempo real un posible fraude.</p>
                </div>
            </div>
            <!-- slider dos -->
            <div class="carousel-item">
                <div class="img_two d-block w-100"></div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Las carreteras 5G están de camino</h5>
                    <p>El coche conectado requiere una infraestructura física y los operadores se han puesto en marcha.</p>
                </div>
            </div>
            <!-- slider tres -->
            <div class="carousel-item">
                <div class="img_three d-block w-100"></div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>Coronavirus</h5>
                    <p>Más de 609.000 personas se han recuperado de covid-19.</p>
                </div>
            </div>
        </div>
        <!-- botones de navegacion -->
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- Seccion de Ultimas noticias -->
<div class="content-info" id="ultima">
    <app-registro></app-registro>
</div>
<!-- Seccion de busqueda por pais -->
<div class="content-info" id="busqueda">
    <app-localitation></app-localitation>
</div>