.principal_con {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    background: #000000;
}

.img_pri {
    background-image: url(../../../assets/img/logo_pri.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    float: left;
}

.log_pri {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}

.center-con {
    display: table-cell;
    vertical-align: middle;
}

.login_pri {
    position: relative;
    float: left;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 12% 0px;
    display: table;
    transition: all .5s ease;
}

.mg-t {
    margin-top: 20px;
}

.conteiner-cerrar-s {
    position: absolute;
    top: 15px;
    right: 15px;
}

@media only screen and (max-width: 900px) {
    .login_pri h1 {
        font-size: 25px;
        transition: all .5s ease;
    }
    .login_pri h4 {
        font-size: 20px;
        transition: all .5s ease;
    }
}

@media only screen and (max-width: 767px) {
    .login_pri {
        position: absolute;
    }
}