<div class="principal_con">
    <!-- Imagen de logo -->
    <div class="log_pri col-md-6">
        <div class="img_pri"></div>
    </div>
    <!-- Proceso de login -->
    <div class="login_pri col-md-6">
        <div class="center-con">
            <h1>¡Registrate con nostros!</h1>
            <h4>¡¡Para tener las noticias del dia!!!.</h4>
            <!-- boton de inicio de sesion con google -->
            <button class="btn btn-danger mg-t" (click)="signInWithGoogle()" *ngIf="!user">
                <svg class="bi bi-people-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 008 15a6.987 6.987 0 005.468-2.63z"/>
                    <path fill-rule="evenodd" d="M8 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M8 1a7 7 0 100 14A7 7 0 008 1zM0 8a8 8 0 1116 0A8 8 0 010 8z" clip-rule="evenodd"/>
                  </svg>
                Iniciar sesiòn con Google
            </button>

            <!-- Mostrando usuario registrado -->
            <div class="container mg-t" *ngIf="user">
                <img src="{{ user.photoUrl }}">
                <h4 class="mg-t">¡¡ Bienvenido {{ user.name }} !!</h4>
                <button class="btn btn-success mg-t" [routerLink]="['/noticias']">Ahora puede ingresar {{ user.name }}</button>
                <div class="conteiner-cerrar-s">
                    <!-- boton para cierre de sesion con google -->
                    <button class="btn btn-dark" (click)="signOut()">
                        <svg class="bi bi-box-arrow-in-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.854 11.354a.5.5 0 000-.708L5.207 8l2.647-2.646a.5.5 0 10-.708-.708l-3 3a.5.5 0 000 .708l3 3a.5.5 0 00.708 0z" clip-rule="evenodd"/>
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 00-.5-.5h-9a.5.5 0 000 1h9A.5.5 0 0015 8z" clip-rule="evenodd"/>
                            <path fill-rule="evenodd" d="M2.5 14.5A1.5 1.5 0 011 13V3a1.5 1.5 0 011.5-1.5h8A1.5 1.5 0 0112 3v1.5a.5.5 0 01-1 0V3a.5.5 0 00-.5-.5h-8A.5.5 0 002 3v10a.5.5 0 00.5.5h8a.5.5 0 00.5-.5v-1.5a.5.5 0 011 0V13a1.5 1.5 0 01-1.5 1.5h-8z" clip-rule="evenodd"/>
                          </svg>
                          Cerrar sesiòn
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>