<div class="content">
    <div class="content_location">
        <!-- Informacion del coronavirus -->
        <div class="float-left col-lg-6">
            <h1>Busqueda de casos por Pais</h1>
            <br>
            <h4>¿Sabias que?</h4>
            <br>
            <br>
            <b>El coronavirus</b>
            <br>
            <br>
            <p>El virus que causa la COVID‑19 se transmite principalmente a través de las gotículas generadas cuando una persona infectada tose, estornuda o espira. Estas gotículas son demasiado pesadas para permanecer suspendidas en el aire y caen rápidamente
                sobre el suelo o las superficies.</p>
            <span class="mt-4">
                Ingresa el pais de tu interes sobre el coronavirus.
            </span>
            <!-- formulario de busqueda por pais -->
            <form class="needs-validation center-form" (submit)="envioPais()" [formGroup]="formu" novalidate>
                <div class="form-row">
                    <div class="col-md-12 mb-3 mt-4">
                        <label for="validationCustom01">Ingresa el Pais (ingles)</label>
                        <input type="text" class="form-control col-md-6 cl-btn" id="validationCustom01" placeholder="Ej. Spain" formControlName="pais" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <small class="font-small">*Si no ingresas datos te mandaremos el top 1 de contagios</small>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Buscar</button>
            </form>
        </div>
        <!-- mostrando el pais seleccionado con google maps -->
        <div class="float-left col-lg-6">
            <h2 class="mb-4 center-item">Localización</h2>
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
            <div class="date_pais">
                <!-- mostrando tabla del pais selecionado -->
                <table class="syle-table table table-dark mt-5" *ngIf="active==false">
                    <thead>
                        <tr>
                            <th scope="col">Pais</th>
                            <th scope="col">Casos</th>
                            <th scope="col">Activo</th>
                            <th scope="col">Recuperados</th>
                            <th scope="col">Fallecidos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{ paisInf }}</th>
                            <td>{{ casesInf }}</td>
                            <td>{{ activeInf }}</td>
                            <td>{{ recoverInf }}</td>
                            <td>{{ deathsInf }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Alerta de error -->
<div id="aler" class="ale-con alert alert-danger fade" role="alert">
    <strong>¡Atenciòn!</strong> Ingresa el pais en ingles.
</div>