.content {
    position: relative;
    background: #000011;
    float: left;
    width: 100%;
    height: 100%;
}

agm-map {
    width: 96%;
    height: 455px;
    margin: auto;
    box-shadow: -1px 3px 11px 6px white;
    position: relative;
    float: left;
}

#mostrar_mapa {
    position: relative;
    float: left;
    width: 100%;
    height: 500px;
}

.center-item {
    text-align: center;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}

h3 {
    margin: auto;
}

.content_location {
    position: relative;
    font-size: large;
    width: 100%;
    background: black;
    color: white;
    padding: 95px 45px;
    float: left;
    padding-bottom: 50px;
}

.center-form {
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
}

.cl-btn {
    text-align: center;
    width: 100%;
    max-width: 305px;
    margin: auto;
    background: #ffffff59;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 6px;
    color: white;
}

.syle-table {
    position: relative;
    float: left;
    width: 97%;
    text-align: center;
    box-shadow: -1px 1px 7px 0px white;
}

.font-small {
    font-size: 10px;
}

.ale-con {
    position: absolute;
    top: 55px;
    right: 9px;
}

.date_pais {
    position: relative;
    width: 502px;
    text-align: center;
    margin: auto;
    max-width: 100%;
    overflow-x: auto;
    height: auto;
}

@media only screen and (max-width: 1100px) {}

@media only screen and (max-width: 700px) {}