<div class="container-ultimas">
    <!-- Inbformacion a nivel mundial -->
    <div class="float-left col-lg-6">
        <div class="title_ultimas">
            <h1>¡Ultimas noticias de la pendemia!</h1>
        </div>
        <h4>Noticias que debes saber</h4>
        <br><br>
        <b>¿Què es el corovirus?</b>
        <br><br>
        <span>Los coronavirus son una extensa familia de virus que pueden causar enfermedades tanto en animales como en humanos. En los humanos, se sabe que varios coronavirus causan infecciones respiratorias que pueden ir desde el resfriado común hasta enfermedades más graves como el síndrome respiratorio de Oriente Medio (MERS) y el síndrome respiratorio agudo severo (SRAS). El coronavirus que se ha descubierto más recientemente causa la enfermedad por coronavirus COVID-19.</span>
        <br><br>
        <p>Aqui te mostraremos la tabla de contagios el top 5.
            <svg class="bi bi-arrow-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L12.793 8l-2.647-2.646a.5.5 0 010-.708z" clip-rule="evenodd"/>
                <path fill-rule="evenodd" d="M2 8a.5.5 0 01.5-.5H13a.5.5 0 010 1H2.5A.5.5 0 012 8z" clip-rule="evenodd"/>
            </svg>
        </p>
        <!-- tabla de top 5 de contagios por coronavirus -->
        <div class="flex-item center_table">
            <table class="table table-responsive table-condensed">
                <tr>
                    <th *ngFor="let label of lineChartLabels">{{label}}</th>
                </tr>
                <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
                    <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Grafica de contagios top 5 por coronavirus -->
    <div class="float-left col-lg-6">
        <div class="title_ultimas">
            <h2 class="mb-5 center-item">Top 5 mundial de contagios por coronavirus</h2>
        </div>
        <!-- Mostrando grafica -->
        <div class="graph">
            <div class="flex">
                <div class="flex-item">
                    <div style="display: block;">
                        <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>