.container-ultimas {
    position: relative;
    font-size: large;
    width: 100%;
    background: black;
    color: white;
    padding: 95px 45px;
    float: left;
    padding-bottom: 50px;
}

.center_table {
    position: relative;
    width: 502px;
    text-align: center;
    margin: auto;
    max-width: 100%;
}

.table {
    color: #ffffffad;
}

.center-item {
    text-align: center;
}