/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background: #000000;
    margin: auto;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #000011 !important;
}

.agm-map-container-inner {
    width: 100% !important;
    height: inherit;
}

app-root menu {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0px;
    background: black;
}